<?xml version="1.0" encoding="utf-8" ?>

<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="data source=DESKTOP-C4K70KG\MSSQLSERVER12; initial catalog=TestDb;persist security info=True;user id=sa;password=Aml@123;MultipleActiveResultSets=True ; Connect Timeout=10000" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="data source=DESKTOP-C4K70KG\MSSQLSERVER12; initial catalog=CreateTestDb;persist security info=True;user id=sa;password=Aml@123;MultipleActiveResultSets=True ; Connect Timeout=10000" providerName="System.Data.SqlClient" />
</connectionStrings>